body.done {
  background: lightgreen;

  #grid > div > div {
    &.clear, &.row-count, &.col-count {
      background: lightgreen;
      color: gray;
    }
  }
}

#grid {
  font-size: 40px;
  display: flex;
  flex-direction: column;

  > #grid-loading {
    display: none;
  }
  &.loading > #grid-loading {
    display: block;
  }

  > div {
    display: flex;

    > div {
      box-sizing: border-box;
      border: solid gray 1px;
      min-width: 1.5em;
      min-height: 1.5em;
      line-height: 1.5em;
      text-align: center;

      &.done {
        background-color: lightgreen;
        color: gray;
      }
      &.error {
        background-color: pink;
      }

      &.north {
        box-shadow: inset 0 .4em .2em -.2em blue;
      }
      &.not-north {
        box-shadow: inset 0 .4em .2em -.2em red;
      }
      &.west {
        box-shadow: inset .4em 0 .2em -.2em blue;
      }
      &.not-west {
        box-shadow: inset .4em 0 .2em -.2em red;
      }
      &.south {
        box-shadow: inset 0 -.4em .2em -.2em blue;
      }
      &.not-south {
        box-shadow: inset 0 -.4em .2em -.2em red;
      }
      &.east {
        box-shadow: inset -.4em 0 .2em -.2em blue;
      }
      &.not-east {
        box-shadow: inset -.4em 0 .2em -.2em red;
      }

      &.not-north.not-west {
        box-shadow: inset 0 .4em .2em -.2em red, inset .4em 0 .2em -.2em red;
      }

      &.not-north.not-south {
        box-shadow: inset 0 .4em .2em -.2em red, inset 0 -.4em .2em -.2em red;
      }

      &.not-north.not-east {
        box-shadow: inset 0 .4em .2em -.2em red, inset -.4em 0 .2em -.2em red;
      }

      &.not-west.not-south {
        box-shadow: inset .4em 0 .2em -.2em red, inset 0 -.4em .2em -.2em red;
      }

      &.not-west.not-east {
        box-shadow: inset .4em 0 .2em -.2em red, inset -.4em 0 .2em -.2em red;
      }

      &.not-south.not-east {
        box-shadow: inset 0 -.4em .2em -.2em red, inset -.4em 0 .2em -.2em red;
      }

      &.not-north.not-west.not-south {
        box-shadow: inset 0 .4em .2em -.2em red, inset .4em 0 .2em -.2em red, inset 0 -.4em .2em -.2em red;
      }

      &.not-north.not-west.not-east {
        box-shadow: inset 0 .4em .2em -.2em red, inset .4em 0 .2em -.2em red, inset -.4em 0 .2em -.2em red;
      }

      &.not-north.not-south.not-east {
        box-shadow: inset 0 .4em .2em -.2em red, inset 0 -.4em .2em -.2em red, inset -.4em 0 .2em -.2em red;
      }

      &.not-west.not-south.not-east {
        box-shadow: inset .4em 0 .2em -.2em red, inset 0 -.4em .2em -.2em red, inset -.4em 0 .2em -.2em red;
      }

      &.not-north.not-west.not-south.not-east {
        box-shadow: inset 0 .4em .2em -.2em red, inset .4em 0 .2em -.2em red, inset 0 -.4em .2em -.2em red, inset -.4em 0 .2em -.2em red;
      }

      &.tree {
        background-color: green;
        &.error {
          border: solid red 3px;
        }
      }

      &.notent, &.solved {
        background-color: lightgreen;
      }

      &.solved.solved-max {
        background-color: yellow;
      }

      &.tent {
        background-color: yellow;
        &.error {
          border: solid red 3px;
          &.adjecent {
            border-color: blue;
          }
        }
      }

    }
  }
}

#option-toolbar {
  display: flex;
}

#option-toolbar-bindings {
  display: flex;

  span {
    margin-right: .5em;

    &.tent {
      background-color: yellow;
      order: -1;
    }
    &.notent {
      background-color: lightgreen;
      order: 1;
    }

    &:first-child {
      order: -2;
    }
  }

  &.swaped {
    .tent {
      order: 1;
    }
    .notent {
      order: -1;
    }
  }
}

#rules > li.done {
  color: darkgreen;
  font-weight: bold;
}

#rules > li.error {
  color: darkred;
  font-weight: bold;
}
